<div class="table-header-actions">
  @if (filtersChips().length > 0) {
    <div class="label-container">
      <label class="section-label">Active Filters</label>
      <div aria-hidden="false" class="actions">
        <button (click)="openCreateExportPipelineDialog()" [disabled]="filtersChips().length === 0"
                class="export-btn" color="primary"
                mat-raised-button>
          <mat-icon aria-hidden="true">image</mat-icon>
          <span>Export Data</span>
        </button>
      </div>
    </div>
    <ul aria-label="Active filters" class="chip-list">
      @for (chip of filtersChips(); track chip.label + chip.value) {
        <li class="chip"><span class="chip-label">{{ chip.label }}:</span> {{ chip.value }}
          @if (!readOnlyChips()) {
            <button (click)="removeFilter(chip.key)" aria-label="Remove Filter" class="chip-remove-btn">
              <mat-icon class="mat-icon">cancel</mat-icon>
            </button>
          }
        </li>
      }
    </ul>
    <mat-chip-set aria-label="Active search criteria" class="criteria-chip-set">

    </mat-chip-set>
  }
</div>
