<div class="table-header-actions">
  @if (filtersChips().length > 0) {
    <div class="label-container">
      <label class="section-label">Active Filters</label>
      <div aria-hidden="false" class="actions">
        <button (click)="openCreateExportPipelineDialog()" [disabled]="filtersChips().length === 0"
                class="export-btn" color="primary"
                mat-raised-button>
          <mat-icon aria-hidden="true">image</mat-icon>
          <span>Export Data</span>
        </button>
      </div>
    </div>
    <app-chip-list
      (chipRemoved)="removeFilter($event)"
      [ariaLabel]="title()"
      [chips]="filtersChips()"
      [readOnly]="readOnlyChips()"/>
  }
</div>
