@use "form-shared" as shared;

:host {
  display: block;
  width: 100%;
}

.table-header-actions {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.label-container {
  @include shared.table-title;
}

.criteria-chip-set {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 0.25rem 1rem 0;
}

