.page-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: stretch;
}

.filter-card {
  .mat-mdc-card-content {
    padding-top: 1.5rem;
  }

  height: calc(100vh - 100px);
  width: 20%;
  display: flex;
  flex-direction: column;
}

.result-card {
  .mat-mdc-card-content {
    padding-top: 1.5rem;
    flex: 1 1 auto;
    display: flex;
    min-height: 0;
  }

  width: 80%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
