.layout-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.layout-content {
  flex: 1;
  padding: 1rem;
  overflow: auto;
}

.layout-content-inner {
  width: min(100%, 1440px);
  margin-inline: auto;
}

