@if (loading()) {
  <div aria-live="polite" class="table-state">Loading gene results…</div>
} @else if ((data()?.content?.length ?? 0) > 0 && chipsCount() > 0) {
  <div class="table-responsive-container">
    <table [dataSource]="data()!.content" class="mat-elevation-z1 gene-result-table"
           mat-table>
      <caption class="sr-only">Gene search results table</caption>
      <ng-container matColumnDef="accession">
        <th *matHeaderCellDef mat-header-cell>Accession</th>
        <td *matCellDef="let row" mat-cell>
          <span class="accession-col">{{ row.accession }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="entryName">
        <th *matHeaderCellDef mat-header-cell>Entry Name</th>
        <td *matCellDef="let row" mat-cell>{{ row.entryName }}</td>
      </ng-container>


      <ng-container matColumnDef="proteinFullName">
        <th *matHeaderCellDef mat-header-cell>Protein Name</th>
        <td *matCellDef="let row" mat-cell>{{ row.proteinFullName }}</td>
      </ng-container>


      <ng-container matColumnDef="organismName">
        <th *matHeaderCellDef mat-header-cell>Organism</th>
        <td *matCellDef="let row" mat-cell>{{ row.organismName }}</td>
      </ng-container>


      <ng-container matColumnDef="length">
        <th *matHeaderCellDef mat-header-cell>Length</th>
        <td *matCellDef="let row" mat-cell>{{ row.length }}</td>
      </ng-container>


      <ng-container matColumnDef="reviewed">
        <th *matHeaderCellDef mat-header-cell>Reviewed</th>
        <td *matCellDef="let row" mat-cell>
          <span [class.is-reviewed]="row.reviewed" [class.not-reviewed]="!row.reviewed" class="review-badge">
            {{ row.reviewed ? 'Yes' : 'No' }}
          </span>
        </td>
      </ng-container>


      <ng-container matColumnDef="evidenceLevel">
        <th *matHeaderCellDef mat-header-cell>Evidence</th>
        <td *matCellDef="let row" mat-cell>
          <span [class]="'evidence-badge level-' + row.evidenceLevel">{{ row.evidenceLevel }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th *matHeaderCellDef mat-header-cell>More</th>
        <td *matCellDef="let row" mat-cell>
          <button (click)="selectRowSummary(row)"
                  [attr.aria-label]="'View summary for ' + row.accession"
                  class="more-button"
                  title="View Gene Summary"
                  type="button">
            <mat-icon>more_vert</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
      <tr *matRowDef="let _; columns:displayedColumns" mat-row></tr>


    </table>
  </div>
} @else if (errorMessage()) {
  <div class="error-msg" role="alert">{{ errorMessage() }}</div>
} @else {
  <div aria-live="polite" class="table-state">No gene results yet. Apply filters to start searching.</div>
}
