@use "form-shared" as shared;

:host {
  display: block;
  width: 100%;
  --mat-paginator-container-background-color: transparent;
}

.table-header-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.label-container {
  @include shared.filter-label-container;
}

.page-summary {
  margin-top: 0.25rem;
  font-size: 0.8rem;
  color: var(--mat-sys-on-surface-variant);
}

